{% extends "core/header.html" %}
{% load static %}
{% block content%}

<body>

    <div class="container centeredBox">
        <form class="login" method="POST" action="{% url 'user:login' %}">
            <div class="loginCard flexColumn z-depth-1">
                {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">email</i>
                    <input name="email" id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">Email</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
                <button class="btn" type="submit">Log IIn</button>
                <a class="waves-effect waves-teal btn-flat" href="{% url 'user:signup' %}">Create an account instead
                    ?</a>
            </div>
        </form>
    </div>
</body>
{{ errors|json_script:'errors' }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const errors = JSON.parse(document.getElementById('errors').textContent);
        console.log(errors);
        // if (errors != '') {
        //     M.toast({ html: "Invalid Input" })
        // }
    });

</script>
{% endblock %}